{% extends "base.html" %}

{% block title %}Farmers - Smart Agri Admin{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Registered Farmers</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Phone Number</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Registered</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for farmer in farmers %}
                    <tr>
                        <td>{{ farmer[0] }}</td>
                        <td>{{ farmer[1] }}</td>
                        <td>{{ farmer[2] or '' }}</td>
                        <td>{{ farmer[3] or '' }}</td>
                        <td>{{ farmer[4] }}</td>
                        <td>{{ farmer[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} 